.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 500px;
  width: 300px;
  background: gray;
  color: white;
}
.position {
  position: absolute;
  left: 0px;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box {
  display: flex;
  height: 200px;
  width: 200px;
  background: black;
}

