.container{
  display:flex;
  position:relative;
  height:500px;
  width:300px;
  background:#4b5457;
  color:white;
}
.position2 {
  position:absolute;
  top:200px;
  left:200px;
}
.box1{
  height:300px;
  width:200px;
  background: black;
}
.position3 {
  position:absolute;
  top:400px;
  left:100px;
}
.box2{
  height:200px;
  width:200px;
  background: gray;
}
