.container {
  height: 600px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.box {
  height: 200px;
  width: 200px;
  background: black;
}
.item1 {
  align-self: flex-end;
}
.item2 {
  align-self: center;
}
.item3{
  align-self: flex-start;
}
