.container {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  color:white;
}
.box{
  height:200px;
  width:200px;
  background:black;
}
.child2{
  display:flex;
  flex-direction:row;
}
.margin {
  margin-left:10px
}
