.container{
  display:flex;
  justify-content:space-between;
  height:300px;
  width:500px;
  background:;
  color:white;
}
.parent{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.child1{
  height:180px;
  width:230px;
  background:gray;
}
.child2{
  height:80px;
  width:120px;
  background:black;
}
.align {
  align-items:flex-end;
}
