.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 500px;
  width:800px;
  color: white;
}
.child {
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 400px;
  background: #8c888f;
}
.element1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box {
  height: 170px;
  width: 150px;
  background: black;
}
.element2 {
  align-self: flex-end;
}
