.container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  color:white;
  height: 600px;
}
.box{
  background:black;
  height:200px;
  width:200px
}
.order1{
  align-self:flex-start;
}
.order2{
  align-self:center;
}
.order3{
  align-self:flex-end;
}
