.container{
  display:flex;
  justify-content:center;
  padding:50px;
  color:white;
}
.parent{
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:250px;
  width:400px ;
  background: gray;
  position:relative;
}
.posi{
  position:absolute;
  top:0px;
  left:0px;
}
.box{
  height:150px;
  width:150px;
  background:black;
}
