body{
  margin:0px;
}
.container{
  display:flex;
  position: realative;
  justify-content:flex-end;
  align-items:flex-end;
  height: 500px;
  width:300px;
  background:#454747;
  color:white;
  margin:0px;
}
.position{
  position:absolute;
  top:0px;
  left:0px;
}
.container2{
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
  height: 300px;
  width:200px;
  background:#070808;
}
.position2{
  position:absolute;
  top:200px;
  left:100px;
}
.container3{
  display:flex;
  height: 100px;
  width:100px;
  background:gray;
  position:relative;
  right:10px;
  bottom:10px;
}
