.parent{
  display:flex;
  justify-content:space-between;
  height:400px;
  width:400px;
  background:gray;
  color:white;
}
.child{
  align-self:flex-end;
  height:200px;
  width:200px;
  background:black;
}
