.super{
  position:relative;
  display: flex;
  height:200px;
  width:200px;
  background:black;
  color:white;
}
.child{
  background:gray;
  height:200px;
  width:200px;
  position: absolute;
  top:100px;
  left:100px;
}
