.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color:white;
  padding-top:20px;
}
.parent {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  height: 400px;
  width: 400px;
  background: grey;
}
.child {
  align-self: center;
  height: 250px;
  width: 250px;
  background: black;
  margin:auto;
}
