.container{
  display:flex;
  justify-content:flex-end;
  color:white;
  height: 600px;

}
.parent{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:300px;
  width:300px;
  background:black;
}
.child{
  display:flex;
  height:150px;
  width:150px;
  background:gray;
}
